# Copie este arquivo para .env e preencha os valores
# NÃO suba o .env para o GitHub — use as variáveis de ambiente do Render

SAP_CLIENT_ID=sb-5c4cddb2-fd4c-4480-973e-1658d4509a90!b19894|it-rt-sa-cf-br10-v4-btp-prd-zjbc9c6b!b106
SAP_CLIENT_SECRET=cole_o_client_secret_aqui
SAP_TOKEN_URL=https://sa-cf-br10-v4-btp-prd-zjbc9c6b.authentication.br10.hana.ondemand.com/oauth/token
SAP_API_URL=https://sa-cf-br10-v4-btp-prd-zjbc9c6b.it-cpi008-rt.cfapps.br10.hana.ondemand.com/billing/sap/businesspartner
ALLOWED_ORIGIN=*
PORT=3000
